// Variables
$main-color: #008080;
$secondary-color: #F5F5DC;

// Estilos generales
body {
  font-family: Arial, sans-serif;
  background-color: $secondary-color;
}

// Estilos del formulario
.title{
  text-align: center;
  color: $main-color;
  margin-top: 4rem;
}

.college-form {
  margin: 0 auto;
  width: 55%;
  padding: 1em;
  background-color: $main-color;
  border-radius: 5px;
  box-shadow: 0 0 10px #777;

  label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: $secondary-color;
  }

  input {
    display: block;
    width: 98%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: none;
  }

  button {
    background-color: #fff;
    color: $main-color;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-weight: bold;
    &:hover {
      background-color: $main-color;
      color: #fff;
      cursor: pointer;
    }
  }
}

.table-container{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  .table{
    width: 60%;
    border-collapse: collapse;
    background-color: $main-color;
    box-shadow: 0 0 10px #777;
    color: $secondary-color;
    .tablefield{
      border: 2px solid $secondary-color;
      padding: 1em;
    }
    .tableData{
      background-color: white;
      color: $main-color;
      border: 2px solid $secondary-color;
      padding: 1em;
      text-align: center;
    }
  }
}

// Estilos en Mobile
@media (max-width: 600px) {
  .college-form {
    width: 80%;
  }
  .table-container{
    .table{
      width: 90%;
      color: $secondary-color;
      font-size: 0.8rem;
      .tablefield{
        padding: 0.5em;
      }
      .tableData{
        padding: 0.5em;
      }
    }
  }
}